%div{:id => 'wrapper'}
  %div{:id => 'admin'}
    %section{:id => 'contents'}
      %h2
        %a{:href => "/spot/new"} add new spot
      %h2
        %a{:href => "/route/new"} add new route
      %h2 ALL SPOTS
      - @spots.each do |spot|
        %h3 #{spot.title}
        %a{:href => "/spot/#{spot.slug}"} view
        %br
        %a{:href => "/spot/#{spot.slug}/edit"} edit
        %br
        %a{:href => "/spot/#{spot.slug}/delete"} delete
        %br
        %br
      %h2 ALL ROUTES
      - @routes.each do |route|
        %h3 #{route.title}
        %a{:href => "/route/#{route.slug}/edit"} edit