:javascript
  $(document).ready(function(){ 
    var slug = "#{@spot.slug}";
    var hashtag = "#{@spot.hashtag}";
    var lat = "#{@spot.lat.to_s("F")}";
    var long = "#{@spot.long.to_s("F")}";

   //assets 
   // fetchYoutube(hashtag);
   fetchFlickrThumbs(hashtag);
   fetchFlickr(hashtag);
   
   //google maps
   initializeMap();
   displayMap(slug, $('#placeDetails'));
   
   //sharethis
   var switchTo5x=true;
   stLight.options({publisher:'1bef05f7-1745-4681-a2b4-74155bc4ae0a'});
   
   //directions link
   $(".directions a").attr("href", "http://maps.google.dk/maps?hl=da&z=14&saddr=&daddr="+lat+","+long);
  });    
%section{:id => 'contents', :class=>'eleven columns alpha'}
  %article.overview
    %img{:width => '100%', :class => 'portrait'}
    %ul.image_thumb
    %h2.title= @spot.title
    %p.teaser= @spot.teaser
    - if @spot.published_at
      %time{:datetime => @spot.published_at.strftime("%Y-%m-%d")}= @spot.published_at.strftime("%b %d, %Y")
    %article.contents= textile(@spot.body)
%aside{:id => 'sidebar', :class=>'five columns omega'}
  .map
    %div{:id=>'map_canvas', :style=>"height:426px;width:100%;"}
  %div.like
    %div{:id=>'fb-root'}
      %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
      %fb:like{:href=>"", :send=>"false", :width=>"250", :show_faces=>"false", :font=>""}
  %div.grey
    %div Share this spot with your friends
    %span.st_facebook_button{:displayText=>'Facebook'}
    %span.st_twitter_button{:displayText=>'Tweet'}
    %span.st_email_button{:displayText=>'Email'}
  %div.directions Get <a href="http://maps.google.dk">directions</a> to this spot  

%div.line
  %fieldset.in-reply-to-border
    %legend.in-reply-to-text live feed from selected spot
%div.foto{:id => 'foto'}