%div{:id => 'wrapper'}
  %form{:method => 'post', :action => "/spot/#{@spot.new? ? 'new' : @spot.slug + '/edit'}"}
    %p
    %br
      %label{:for => 'title'}Titel - skal være unik:
      %br
      %input{:type => 'text', :name => 'title', :value => @spot.title}
    %p
    %br
      %label{:for => 'hashtag'}Hash tag (maa ikke indeholde mellemrum, brug bindestreg istedet, og heller ingen special karakterer. skal vaere unik.):
      %br
      %input{:type => 'text', :name => 'hashtag', :value => @spot.hashtag}
    %p
    %br
      %label{:for => 'teaser'}Kort beskrivelse:
      %br
      %textarea{:name => 'teaser', :rows => 5, :cols => 88}= @spot.teaser
    %p
    %br
      %label{:for => 'body'}Lang beskrivelse. 
      %p<
      I teksten kan du lave overskrifter, link, bulletpoints osv. hvis du foelger 
      %a{:href => 'http://redcloth.org'}textile
      formatet
      %textarea{:name => 'body', :rows => 15, :cols => 88}= @spot.body
    %p
    %br
      %label{:for => 'address'}Adresse:
      %br
      %input{:type => 'text', :name => 'address', :value => @spot.address}
    %p
    %br<
      Koordinater: (brug evt 
      %a{:href => 'http://www.getlatlon.com'} http://www.getlatlon.com
      til at finde koordinater)
      %br
      %label{:for => 'lat'}Breddegrad (55.69 osv, husk punktum, ikke komma):
      %br
      %input{:type => 'text', :name => 'lat', :value => "#{@spot.new? ? @spot.lat.to_s : @spot.lat.to_s("F")}"}
    %p
    %br
      %label{:for => 'long'}Længdegrad (12.58 osv, husk punktum, ikke komma):
      %br
      %input{:type => 'text', :name => 'long', :value => "#{@spot.new? ? @spot.long.to_s : @spot.long.to_s("F")}"}
    %p
    %br
      %input{:type => 'submit', :value => "Gem"}