:javascript
  $(document).ready(function(){ 
    $.getJSON("http://gdata.youtube.com/feeds/api/videos?v=2&alt=jsonc&q=skateboard+#{@spot.hashtag}&category=Sports%2Cskateboard&max-results=10&format=5&orderby=relevance&callback=?",
    function(data){
      var movies = data["data"]["items"];
      if(movies == null || movies == 0){
      }else{
        //load the trailer
        for (var i = 0; i < movies.length; i++) {
          yt_url = 'http://www.youtube.com/watch?v='+movies[i].id+'&feature=player_embedded#at=41';
          yt_embed = yt_url.replace(new RegExp("watch\\?v=", "i"), 'v/')
          //yt_url = 'http://www.youtube.com/v/' + movies[i].id + '&amp;fs=1&feature=player_embedded';
          yt_img_url = movies[i].thumbnail.hqDefault;
          $('<a href="' +yt_url+'" rel="vidbox" class="gallerypic"><img alt="jat" width="160" height="120" class="spot" src="'+yt_img_url+'"></img><span class="zoom-icon-yt"><img src="/images/yt_icon.png" alt="Zoom" width="36" height="25" /></span></a>').fancybox({
        			'padding'		: 0,
              'width'		: 680,
        			'height'		: 495,
        			'href'			: yt_embed,
        			'type'			: 'swf',
        			'swf'			: {
        			  'wmode'		: 'transparent',
        				'allowfullscreen'	: 'true'
        			}
        		}).appendTo("#foto");
        }
      }
    }
    );
    $.getJSON("http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=f65cddc72218d6629231015dbba534ab&tags=#{@spot.hashtag},skateboard&tag_mode=all&format=json&sort=interestingness-desc&jsoncallback=?",
    function(data){
      $.each(data.photos.photo, function(i,item){
        var url_s = "http://farm"+item.farm+".static.flickr.com/"+item.server+"/"+item.id+"_"+item.secret+"_s.jpg";
        var url_m = "http://farm"+item.farm+".static.flickr.com/"+item.server+"/"+item.id+"_"+item.secret+"_m.jpg";
        var url = "http://farm"+item.farm+".static.flickr.com/"+item.server+"/"+item.id+"_"+item.secret+".jpg";
        var url_b = "http://farm"+item.farm+".static.flickr.com/"+item.server+"/"+item.id+"_"+item.secret+"_b.jpg";
        $('<a href="' +url_b+'" rel="hat" class="gallerypic"><img alt="jat" width="160" height="120" class="spot" src="'+url_m+'"></img><span class="zoom-icon"><img src="/images/FlickrSmall.png" alt="Zoom" width="160" height="120" /></span></a>').fancybox().appendTo("#foto");
      
      });

      $('<div class="downarrowdiv contribute"><h3>Contribute</h3><div>If you have any content online for this spot you can make it available for this site. The "live feed" section of this site is fetched off the web. All you need to do is tag your content with "skateboard" and the following keyword: "#{@spot.hashtag}"</div></div>').appendTo("#foto");
    }
  );
    $.getJSON("http://api.flickr.com/services/rest/?method=flickr.groups.pools.getPhotos&api_key=f65cddc72218d6629231015dbba534ab&group_id=1695312%40N23&tags=#{@spot.hashtag}&extras=tags&format=json&jsoncallback=?",
       function(data) {         
         $.each(data.photos.photo, function(i,item){
           var url_s = "http://farm"+item.farm+".static.flickr.com/"+item.server+"/"+item.id+"_"+item.secret+"_s.jpg";
           var url_m = "http://farm"+item.farm+".static.flickr.com/"+item.server+"/"+item.id+"_"+item.secret+"_m.jpg";
           var url = "http://farm"+item.farm+".static.flickr.com/"+item.server+"/"+item.id+"_"+item.secret+".jpg";
           var url_b = "http://farm"+item.farm+".static.flickr.com/"+item.server+"/"+item.id+"_"+item.secret+"_b.jpg";
           if(i==0){$(".portrait").attr({ src: url });}
           var substr = item.tags.split(' ');           
           $.each(substr, function(j, item){
             if(item == 'spotadmin'){             
               $('<a href="'+url_b+'" class="gallerypic"><img alt="jat" height="50px" width="50px" class="spot" src="'+url_m+'"></img></a>').fancybox().appendTo(".image_thumb");
             }
           });           
         });
         
         
       });
       
    var place = (#{@spot.to_json});

     initialize();
     displaySmall(place.slug, $('#placeDetails'));
     var switchTo5x=true;
     stLight.options({publisher:'1bef05f7-1745-4681-a2b4-74155bc4ae0a'});
     $(".directions a").attr("href", "http://maps.google.dk/maps?hl=da&z=14&saddr=&daddr="+place["lat"]+","+place["long"]);
  }); 
%div{:id => 'wrapper'}
  %aside{:id => 'sidebar'}
    %div{:id=>'map_canvas', :style=>"height:427px;width:300px;"}
    %div.like
      %div{:id=>'fb-root'}
        %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
        %fb:like{:href=>"", :send=>"false", :width=>"250", :show_faces=>"false", :font=>""}
    %div.grey
      %div Share this spot with your friends
      %span.st_facebook_button{:displayText=>'Facebook'}
      %span.st_twitter_button{:displayText=>'Tweet'}
      %span.st_email_button{:displayText=>'Email'}
    %div.directions Get <a href="http://maps.google.dk">directions</a> to this spot  
    
  %section{:id => 'contents'}
    %article.overview
      %img{:width => 640, :height => 427, :class => 'portrait'}
      %ul.image_thumb
      %h2.title= @spot.title
      %p.teaser= @spot.teaser
      - if @spot.published_at
        %time{:datetime => @spot.published_at.strftime("%Y-%m-%d")}= @spot.published_at.strftime("%b %d, %Y")
      %article.contents= textile(@spot.body)
  %div.line
    %fieldset.in-reply-to-border
      %legend.in-reply-to-text live feed from selected spot
  %div.foto{:id => 'foto'}
%div{:id => 'footer_wrapper'}
  %div.arrow_wrapper
    %div.arrow-down 
  %footer
    %div.footer_inner
      %div{:id => 'footer_left'}
        %h2 CONTACT & INFO
        %ul
          %li William Frederiksen
          %li <a href="mailto:wf@copenhagenskatepark.dk">wf@copenhagenskatepark.dk</a>
      %div{:id => 'footer_right'}
        %h2 ALL SPOTS
        %ul
          - @spots.each do |spot|
            %li
              %a{:href => "/spot/#{spot.slug}"} #{spot.title}